<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd          
 http://code.alibabatech.com/schema/dubbo           
 http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="testa"/>
    <dubbo:registry group="libingroup" protocol="zookeeper" address="127.0.0.1:2181"/>
    <dubbo:protocol name="dubbo" port="28080" threadpool="fixed" threads="1000"/>
    <dubbo:provider retries="0" timeout="6000000"/>

    <dubbo:service register="0" timeout="6000000" interface="com.libin.service2.TestService" ref="testServiceImpl"/>

</beans>